@font-face {
    font-family: 'Anchor-Medium';
    src: url('../fonts/Anchor-Medium.eot');
    src: local('☺'), url('../fonts/Anchor-Medium.woff') format('woff'), url('../fonts/Anchor-Medium.ttf') format('truetype'), url('../fonts/Anchor-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


#header {
    background: #EB6F79;
    text-align: center;
}

#header h1 {
    margin: 0;
    text-align: center;
    line-height: 1;
}

#header h1 img {
    display: inline;
    padding: 10px 0;
}

.slider {
    position: relative;
}

.orbit-prev, .orbit-next, .orbit-slide-number {
    display: none;
}

.orbit-bullets {
    position: absolute;
    top: 85%;
    margin-left: 50%;
    margin-bottom: 0;
}

.orbit-bullets li {
    background: #fff;
    border: #fff 2px solid;
}
.orbit-bullets li.active {
    background: #EB6F79;
}

.slogan {
    background:#89CCC5;
    margin-bottom: 30px;

}

.slogan h2 {
    font-family: 'Anchor-Medium';
    color: white;
    font-size: 13px;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

.img-explanation img {
    margin: 0 auto 50px;
}
ul.tips {
    margin-bottom: 50px;
}
.tips img {
    display: inline;
}
.tips li {
    font-family: 'Anchor-Medium';
    font-size: 12px;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
}

.contact {
    margin-top: 50px;
    color: #89CBC7;
    text-align: center;
}

.contact p a {
    background: #89CCC5;
    font-family: 'Anchor-Medium';
    font-size: 12px;
    font-size: 1.2em;
    text-transform: uppercase;
    color: white;
    padding: 5px 15px;
    border-radius: 25px;
}

.copy img {
    margin: auto;
}

.developers {
    text-align: center;
}

.developers a {
    display: inline-block;
    font-family: 'Anchor-Medium';
    font-size: 10px;
    font-size: 1em;
    text-transform: uppercase;
    color: #222;
    margin: 0 5px;
}
.developers a img {
    display: inline;
}

.copy h3 {
    font-family: 'Anchor-Medium';
    font-weight: normal;
    text-align: center;
}


.bluebg {
	background-color: #89ccc6;
	text-align: center;
	
}
.bluebg div {
	color: #ffffff;
}

.bluebg div a {
	color: #ffffff;
}
.bluebg div img {

	float: left;
}

div.white a {
	color: #000000;
}

#footer {
    font-family: 'Anchor-Medium';
    background: #EB6F79;

    text-align: center;
    text-transform: uppercase;
}

.panel {
    background: url(../img/pastilla_negra.png) no-repeat;
    max-width: 277px;
    margin: auto;
    border: 0;
    min-height: 250px;
    position: relative;
}

.panel img.deco {
    position: absolute;
    top: -20px;
    left: -15px;
}

.panel label {
    display: none;
}

.panel input {
    width: 80%;
    margin: 0 auto 10px;
    background: #f3f3f3;
    border-radius: 3px;
}

.panel input[type="submit"] {
    background: url(../img/boton_enviar.png) no-repeat;
    border:0;
    display: inline-block;
    margin: 0 auto;
    text-indent: -9999px;
    height: 30px;
    width: 80px;
    padding: 0;
}

.panel.solicitar {
    text-align: center;
}

.panel h3 {
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    font-size: 1.2em;
    text-align: center;
    font-weight: normal;
}

.panel.where img {
    display: inline-block;margin: 0 5px;
}

p.center {
    text-align: center;
}

.panel p {
    text-transform: uppercase;
    color: white;
    font-size: 8px;
    font-size: 0.8em;
    text-align: center;
}

.panel h3 {
    text-align: center;
}

#footer input {
    display: inline;
    width: 120px;
    margin: 0 5px;
    padding: 0 10px;
    text-transform: none;
    background: #f3f3f3;
    height: 24px;
    line-height: 24px;
    border-radius: 3px;
}
#footer form {
    margin: 20px 0;
}
#footer input[type="submit"] {
    background: url(../img/icon_candado.png) no-repeat;
    border: 0;
    height: 22px;
    width: 18px;
    padding: 0;
    margin: 0;
    text-indent: -9999px;
}

footer2 {
    background:#89CCC5;
    color: white;
    font-family: 'Anchor-Medium';
    text-transform: uppercase;
}
>>>>>>> 6d7671be49be0027901e24e1d71c869bf9517708
