{% extends "layout.html" %}

{% block content %}


<div class="top bluebg ">
	<div class="row">
		<div class="large-12 columns ">
			PROYECTO ACTUAL: {{ project.name }} - {{ project.ongname }}<br />
			URL: {{ user.url }}<br />
			APIKEY: {{ user.api_key }}<br />
			APISECRET: {{ user.api_secret }}<br />
			PROYECTO ACTUAL: {{ project.name }}<br />
		</div>
	</div>
</div>
<div class="bluebg">
	<div class="row ">
		<div class="large-2 offset-1 columns white"><a href="/dashboard/edituser"><img src="/img/icon_CUENTA.png" alt="Ayuda"> Configuración Cliente</a></div>
		<div class="large-2 columns white"><a href="/dashboard/changeproject"><img src="/img/icon_PROYECTO.png" alt="Cambiar proyecto"> Cambiar proyecto</a></div>
		<div class="large-2 columns white"><a href="/dashboard"><img src="/img/icon_ESTADISTICAS.png" alt="Estadísticas"> Estadísticas</a></div>
		<div class="large-2 columns white"><a href="/ayuda"><img src="/img/icon_AYUDA.png" alt="Ayuda"> Ayuda</a></a></div>
		<div class="large-2 columns white"><a href="/dashboard/logout"><img src="/img/icon_SALIR.png" alt="Ayuda"> Salida</a></div>
	</div>
</div>

<div class="row ">
	<div class="large-12 columns ">
{%if donations is defined %}
	<table style="width:100%;">
		<thead>
			<tr>

				<td>Fecha de donación</td>
				<td>Código transacción</td>				<td>Nombre Projecto</td>
				<td>Nombre ONG</td>
				<td>Importe</td>
				<td>Moneda</td>
			</tr>
		</thead>
	{% for donation in donations %}
		<tr>
			<td>{{ donation.date_stored }}</td>
			<td>{{ donation.transactionid }}</td>
			<td>{{ donation.name }}</td>
			<td>{{ donation.ongname }}</td>
			<td>{{ donation.import }}</td>
			<td>{{ donation.currency }}</td>
		</tr>
	{% endfor %}
	</table>

{% endif %}
	</div>
</div>
{% endblock %}
