{% extends "layout.html" %}

{% block content %}
<div class="row bluebg">
	<div class="large-4 offset-2 columns ">{{ user.username }}</div>
	<div class="large-4 columns">PROYECTO ACTUAL</div>
</div>
<div class="row bluebg">
	<div class="large-4 offset-2 columns"><a href="{{ user.url }}">{{ user.url }}</a></div>
	<div class="large-4 columns"><a href="{{ project.url }}">{{ project.name }} - {{ project.ongname }}</a></div>
</div>	
<div class="row bluebg">
	<div class="large-2 offset-1 columns white"><a href="/dashboard/edituser"><img src="/img/icon_CUENTA.png" alt="Ayuda"> Configuración Cliente</a></div>
	<div class="large-2 columns white"><a href="/dashboard/changeproject"><img src="/img/icon_PROYECTO.png" alt="Cambiar proyecto"> Cambiar proyecto</a></div>
	<div class="large-2 columns white"><a href="/dashboard"><img src="/img/icon_ESTADISTICAS.png" alt="Estadísticas"> Estadísticas</a></div>
	<div class="large-2 columns white"><a href="/ayuda"><img src="/img/icon_AYUDA.png" alt="Ayuda"> Ayuda</a></a></div>
	<div class="large-2 columns white"><a href="/dashboard/logout"><img src="/img/icon_SALIR.png" alt="Ayuda"> Salida</a></div>
</div>

	
{%if donations is defined %}
	<table>
		<thead>
			<tr>

				<td>Fecha de donación</td>
				<td>Código transacción</td>				<td>Nombre Projecto</td>
				<td>Nombre ONG</td>
				<td>Importe</td>
				<td>Moneda</td>
			</tr>
		</thead>
	{% for donation in donations %}
		<tr>
			<td>{{ donation.date_stored }}</td>
			<td>{{ donation.transactionid }}</td>
			<td>{{ donation.name }}</td>
			<td>{{ donation.ongname }}</td>
			<td>{{ donation.import }}</td>
			<td>{{ donation.currency }}</td>
		</tr>
	{% endfor %}
	</table>
	</div>
</div>
{% endif %}
{% endblock %}
