{% extends "layout.html" %}

{% block content %}
<div class="slider">
    <ul data-orbit>
      <li>
        <img src="{{ constant('ROOT_URI') }}/img/imagen_loreak_1.jpg" />
      </li>
      <li>
        <img src="{{ constant('ROOT_URI') }}/img/imagen_loreak_2.jpg" />
      </li>
      <li>
        <img src="{{ constant('ROOT_URI') }}/img/imagen_loreak_3.jpg" />
      </li>
    </ul>
</div>
<div class="slogan">
    <div class="row">
        <div class="large-12 columns">
            <h2>Tu tienda online, un poco más social</h2>
        </div>
    </div>
</div>
<div class="img-explanation">
    <div class="row">
        <div class="large-12 columns">
            <img src="{{ constant('ROOT_URI') }}/img/filacero_funcionamiento.png" />
        </div>
    </div>
</div>
<div class="row">
    <div class="large-4 columns">
        <div class="panel what">
            <img class="deco" src="{{ constant('ROOT_URI') }}/img/icon_QUE.png" />
            <h3>¿Qué es?</h3>
            <p>Es un plugin gratuito para tu tienda online que permite a tus usuarios realizar una donación cuando compran</p>
        </div>
    </div>
    <div class="large-4 columns">
        <div class="panel where">
            <img class="deco" src="{{ constant('ROOT_URI') }}/img/icon_DONDE.png" />
            <h3>¿Dónde?</h3>
            <p class="center"><img src="{{ constant('ROOT_URI') }}/img/logo_wordpress.png" /> <img src="{{ constant('ROOT_URI') }}/img/logo_magento.png" /> <img src="{{ constant('ROOT_URI') }}/img/logo_joomla.png" /></p>
            <p>Se integra en cualquier plataforma de e-commerce</p>
        </div>
    </div>
    <div class="large-4 columns">
        <div class="panel solicitar">
            <img class="deco" src="{{ constant('ROOT_URI') }}/img/icon_SOLICITAR.png" />
            <h3>Solicitar</h3>
            <form action="{{ path('homepage') }}" method="post">
                {{ form_widget(form) }}
                <input type="submit" name="submit" />
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <ul class="tips no-bullet">
            <li><img src="{{ constant('ROOT_URI') }}/img/icon_flecha.png" /> Tú eliges el proyecto social al que donan tus usuarios</li>
            <li><img src="{{ constant('ROOT_URI') }}/img/icon_flecha.png" /> Ellos tienen la oportunidad de contribuir con un euro</li>
            <li><img src="{{ constant('ROOT_URI') }}/img/icon_flecha.png" /> Nosotros comunicamos lo que hemos conseguido entre todos</li>
        </ul>
    </div>
</div>
<div class="row copy">
    <div class="large-10 large-offset-1 columns">
        <div class="row">
            <div class="large-4 columns">
                <h3>Un proyecto de </h3>
                <a href="https://www.filacero.org/"><img src="{{ constant('ROOT_URI') }}/img/logo_fundacionfilacero.png" alt="Fila Cero" /></a>
            </div>
            <div class="large-4 columns developers">
                <h3>Desarrollado por</h3>
                <a href="http://twitter.com/borjareinares">
                    <img src="{{ constant('ROOT_URI') }}/img/icon_EQUIPO.png" alt="Borja" /> <br />
                    Borja
                </a>
                <a href="http://twitter.com/artberri">
                    <img src="{{ constant('ROOT_URI') }}/img/icon_EQUIPO.png" alt="Alberto" /> <br />
                    Alberto
                </a>
                <a href="http://twitter.com/gwannon">
                    <img src="{{ constant('ROOT_URI') }}/img/icon_EQUIPO.png" alt="Jorge" /> <br />
                    Jorge
                </a>
                <a href="#">
                    <img src="{{ constant('ROOT_URI') }}/img/icon_EQUIPO.png" alt="Marcos" /> <br />
                    Marcos
                </a>
            </div>
            <div class="large-4 columns">
                <h3>Durante</h3>
                <a href="http://hackforgood.net/"><img src="{{ constant('ROOT_URI') }}/img/logo_hackforgood.png" alt="Fila Cero" /></a>
            </div>
        </div>
    </div>
</div>

<div class="row contact">
    <div class="large-12">
        <p><a href="https://www.filacero.org/contacto/">Contacto</a></p>
    </div>
</div>

{% endblock %}
