<!DOCTYPE html>
<!--[if IE 8]>               <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% block title 'Fila0 API' %}</title>

  <link rel="stylesheet" href="{{ constant('ROOT_URI') }}/css/normalize.css" />

  <link rel="stylesheet" href="{{ constant('ROOT_URI') }}/css/foundation.css" />

  <link rel="stylesheet" href="{{ constant('ROOT_URI') }}/css/fila0.css" />


  <script src="{{ constant('ROOT_URI') }}/js/vendor/custom.modernizr.js"></script>

</head>
<body>

    <header id="header">
        <div class="row">
            <div class="large-12 columns">
                <h1><img src="{{ constant('ROOT_URI') }}/img/logo_filacero_cabezera.png" alt="Fila Cero" /></h1>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

    {% if not is_granted('ROLE_USER') %}
        <footer id="footer">
            <div class="row">
                <div class="large-12 columns">
                    <form action="{{ path('dashboard_login_check') }}" method="post">
                        Acceso Usuarios
                        <input  type="text" class="inline" name="_username" value="" />
                        <input type="password" class="inline" name="_password" value="" />
                        <input type="submit" />
                    </form>
                </div>
            </div>
        </footer>
    {% endif %}

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '{{ constant('ROOT_URI') }}/js/vendor/zepto' : '{{ constant('ROOT_URI') }}/js/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script src="{{ constant('ROOT_URI') }}/js/foundation.min.js"></script>
  <!--

  <script src="js/foundation/foundation.js"></script>

  <script src="js/foundation/foundation.alerts.js"></script>

  <script src="js/foundation/foundation.clearing.js"></script>

  <script src="js/foundation/foundation.cookie.js"></script>

  <script src="js/foundation/foundation.dropdown.js"></script>

  <script src="js/foundation/foundation.forms.js"></script>

  <script src="js/foundation/foundation.joyride.js"></script>

  <script src="js/foundation/foundation.magellan.js"></script>

  <script src="js/foundation/foundation.orbit.js"></script>

  <script src="js/foundation/foundation.placeholder.js"></script>

  <script src="js/foundation/foundation.reveal.js"></script>

  <script src="js/foundation/foundation.section.js"></script>

  <script src="js/foundation/foundation.tooltips.js"></script>

  <script src="js/foundation/foundation.topbar.js"></script>

  -->

  <script src="{{ constant('ROOT_URI') }}/js/fila0.js"></script>

</body>
</html>

